.howDoNamingContestWorkContainer
   box-sizing: border-box
   width: 100%
   padding: 32px 15px
   display: flex
   flex-direction: column
   align-items: center
   font-family: Poppins, Helvetica, Arial, sans-serif
  
   .heading
     display: flex
     flex-direction: column
     align-items: center
     margin: 0 auto
     margin-bottom: 65px
     .headingText
       font-size: 11px
       text-align: center
       color: #377dff
       background-color: rgba(55, 125, 255, 0.11)
       border-radius: 99px
       padding: 7px 15px
       margin-bottom: 8px
     .heading
        margin-bottom: 8px
        font-size: 40px
        margin-bottom: 8px
     .headingDiscription
        font-size: 16px
        line-height: 27.2px
        color: #77838f  
        
   .contentContainer
     display: flex
     flex-direction: row
     @media screen and ( max-width: 768px )
       flex-direction: column-reverse
     
     .imgContainer
       min-width: 50%
       padding-top: 35px
       margin-left: 70px
       @media screen and ( max-width: 768px )
         margin-left: 120px
     .discriptionListContainer
       min-width: 50%
       position: relative
       .discriptionList
         &::before
             content: ''
             position: absolute
             border-top: 1px solid  rgb(231,234 , 243)
             width: 549px
             transform: rotate(90deg)
             transform-origin: 0% 0%
             top: 90px
             left: 6px
             @media screen and ( max-width: 1024px )
               width: 574px
             @media screen and ( max-width: 768px )
                width: 548px
                 
               

         .discriptionItemContainer
          padding:  15px 0px 15px 60px
         .discriptionItem
           display: flex
           flex-direction: row
           flex-wrap: nowrap
           justify-items: center
           border: 1px solid rgb(231,234 , 243)
           border-radius: 5px 
           position: relative
           min-height: 150px
           &::before
             content: ''
             position: absolute
             border-top: 1px solid  rgb(231,234 , 243)
             width: 40px
             left: -55px
             bottom: 75px

           .discriptionItemNumber
             font-size: 56px
             color: #377dff
             padding: 50px 32px 32px 32px
             text-align: center
           .discription
             padding: 50px 13px 32px 32px
             font-size: 16px
             line-height: 23px
             color: #77838f
             text-align: left
           
             
             
                 