.mainContainer
   box-sizing: border-box
   width: 100%
   margin: 0 auto
   display: flex
   flex-direction: column
   align-items: center
   padding: 32px 15px
   .cardsContainer
     display: flex
     flex-direction: row
     align-items: center
     margin: 0 auto
   .article
     display: flex
     flex-direction: column
     align-items: center
     margin: 0 auto
     margin-bottom: 65px
     .text
        font-size: 16px
        line-height: 27.2px
        color: #77838f    
        
     .heading
        margin-bottom: 8px
        font-size: 40px
        margin-bottom: 8px
     .headingText
        font-size: 11px
        text-align: center
        color: #377dff
        background-color: rgba(55, 125, 255, 0.11)
        border-radius: 99px
        padding: 7px 15px
        margin-bottom: 8px
      
