.featuredInContainer
  box-sizing: border-box
  margin: 20px 142px
  max-width: 100%
  display: flex
  justify-content: space-between
  font-family: Poppins, Helvetica, Arial, sans-serif
  @media screen and ( max-width: 768px )
    margin: 0 auto
  @media screen and (max-width: 425px)
    flex-direction: column  
  .text
    font-size: 28px
    line-height: 42px
    font-weight: 500
    margin-left: 20px
    white-space: nowrap
    @media screen and (max-width: 425px)
      padding-top: 20px 
  .imgContainer
    display: flex
    margin-left: 350px
    border-top: 1px solid rgb(231,234 , 243)
    @media screen and ( max-width: 1024px )
      margin-left: 50px
    @media screen and ( max-width: 768px )
      margin: 0
    @media screen and ( max-width: 425px)
      flex-wrap: wrap
      margin-top: 20px  
    .imgLink
      padding: 15px
      img
        width: 96px  